<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment = "footer">
	<script th:src="@{/assets/libs/jquery.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap-switch.js}"></script>
	<script th:src="@{/assets/plugins/layer/layer.js}"></script>
	<script th:src="@{/assets/libs/vue.min.js}"></script>
	<script th:src="@{/assets/plugins/ztree/jquery.ztree.all.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script th:src="@{/assets/plugins/treegrid/jquery.treegrid.min.js}"></script>
	<script th:src="@{/assets/plugins/treegrid/jquery.treegrid.bootstrap3.js}"></script>
	<script th:src="@{/assets/plugins/treegrid/jquery.treegrid.extension.js(${time})}"></script>
	<script th:src="@{/assets/plugins/treegrid/tree.table.js}"></script>
	<script th:src="@{/assets/plugins/jqgrid/grid.locale-cn.js}"></script>
	<script th:src="@{/assets/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
	<script th:src="@{/assets/plugins/validator/validator.js}"></script>
	<script th:src="@{/assets/js/common.js(${time})}"></script>
	<script th:src="@{/assets/js/form.js(${time})}"></script>
</div>
</body>
</html>