<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/header::header">
<title>编辑-topic管理</title>
</head>
<body>
	<div id="topicEditVue" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">主题<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="主题" v-model="topic.title" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
				<td class="formTitle">logo</td>
				<td class="formValue">
					<img id = "logoView" alt = " " src= "" style = "float:left;width:120px;height:120px">
					<input id = "logoFile" type="file" name = "file" value="上传logo" onchange="uploadImage();">
					<input id = "logo" class="form-control" type = "hidden" v-model="topic.logo" >
				</td>
			</tr>
        	<tr>
        		<td class="formTitle">内容</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="内容" v-model="topic.content" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
				<td class="formTitle">是否置顶</td>
				<td class="formValue">
					<label class="radio-inline">
						<input type="radio" name="stick" value="1" v-model="topic.stick" id="stick1"/> <label for="stick1">是</label>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="stick" value="0" v-model="topic.stick" id="stick2"/> <label for="stick2">否</label>
					</label>
				</td>
			</tr>
			<tr>
				<td class="formTitle">是否优先推荐</td>
				<td class="formValue">
					<label class="radio-inline">
						<input type="radio" name="recommend" value="1" v-model="topic.recommend" id="recommend1"/> <label for="recommend1">是</label>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="recommend" value="0" v-model="topic.recommend" id="recommend2"/> <label for="recommend2">否</label>
					</label>
				</td>
			</tr>
		</table>
	</div>
	<div th:include="inc/footer::footer"></div>
	<script
		th:src="@{/assets/js/bar/topic/edit.js(${time})}"></script>
	<script th:src="@{/assets/plugins/upload/jquery.upload.js(${time})}"></script>
</body>
</html>